- include_stylesheet 'admin/downloads'

%h1 Downloads

- unless @reader.nil?
  %table#downloads.index{:cellpadding => "0", :cellspacing => "0", :border => "0"}
    %thead
      %tr
        %th.download Title
        %th.file File
        %th.actions
    %tbody
      - if @folders.empty?
        %tr
          %td.note{:colspan => "3"} 
            No folders have been created yet.
      - else
        = render :partial => 'folder', :collection => @folders
  
  %p
    = link_to(image('new-folder', :alt => 'New folder'), :controller => 'download_folders', :action => 'new', :reader_id => @reader.id)
    = link_to(image('new-file', :alt => 'New download'), :action => 'new', :reader_id => @reader.id)

%h2 See Downloads For:
- @readers.each do |reader|
  - if @reader == reader
    %strong
      = reader.name
  - else
    = link_to(reader.name, {:action => 'index', :reader => reader.id})