%li.folder
  %h3
    %a{:href => '#'}= folder.name

  - unless folder.children.empty?
    %ul.folders
      = render :partial => 'folder', :collection => folder.children.sort_by { |c| c.position }
      
  - unless folder.downloads.empty?
    %ul.files
      - folder.downloads.each do |dl|
        %li.file
          %h4= link_to( dl.name, download_url(dl), {:title => 'Click to download file'} )
          .description
            %p= dl.description
            %p.filename
              = link_to( dl.document_file_name, download_url(dl), {:title => 'Click to download file'} )
              = "(<em>#{number_to_human_size(dl.document_file_size)}</em>)"