.form-area
  = render_region :form_top
  = f.hidden_field :parent_id
  = f.hidden_field :reader_id

  - render_region :form do |form|
    - form.edit_title do
      %p.title
        = f.label :name
        = f.text_field 'name', :maxlength => 100, :class => "textbox"

  - render_region :form_bottom do |form_bottom|
    - form_bottom.edit_timestamp do
      = updated_stamp @download_folder 
    - form_bottom.edit_buttons do
      %p.buttons
        = save_model_button @download_folder
        or
        = link_to "Cancel", admin_downloads_url

